@import '../global.scss';

.home {
  background-color: $primaryColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  color: aliceblue;
  text-align: center;
}
